<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<div class="wrapper wrapper-full-page">
  <div class="page-header pricing-page header-filter" style="background-image: url('./assets/img/bg-pricing.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto text-center">
          <h2 class="title">동물 기록관리 웹 서비스 BLDOG에 오신걸 환영합니다! </h2>
          <h3 class="title">동물 보호소를 위한 서비스를 선택하세요. </h3>
          <!-- <h5 class="description">You have Free Unlimited Updates and Premium Support on each package.</h5> -->
          <h5 class="description">보호소 운영 시스템 이용과 보호소 운영에 필요한 기부를 할 수 있습니다.</h5>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-5 col-md-5 ml-4 div1">
          <div class="card card-pricing card-plain card1">
            <h6 class="card-category" style="color:whitesmoke">업무자를 위한 시스템</h6>
            <div class="card-body">
              <div class="card-icon icon-white ">
                <i class="material-icons">dvr</i>
              </div>
              <h3 class="card-title">업무 시스템 로그인하기</h3>
              <p class="card-description">This is good if your company size is between 2 and 10 Persons.</p>
            </div>
            <div class="card-footer justify-content-center ">
              <button routerLink="/pages/login" class="btn btn-round btn-white">Choose Plan</button>
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-5 ml-auto div2">
          <div class="card card-pricing card2">
            <h6 class="card-category" style="color:whitesmoke">일반 사용자를 위한 크라우드 펀딩</h6>
            <div class="card-body">
              <div class="card-icon icon-rose ">
                <i class="material-icons">attach_money</i>
              </div>
              <h3 class="card-title" style="color:white">동물보호소 펀딩하기</h3>
              <p class="card-description">This is good if your company size is between 2 and 10 Persons.</p>
            </div>
            <div class="card-footer justify-content-center">
              <button routerLink="/pages/donation-register" class="btn btn-round btn-rose">기부하기</button>
              <button routerLink="/pages/code-research" class="btn btn-round btn-rose">기부내역 확인하기</button>
            </div>
          </div>
        </div>

        <!-- <div class="col-lg-3 col-md-6">
          <div class="card card-pricing card-plain">
            <h6 class="card-category"> Medium Company</h6>
            <div class="card-body">
              <div class="card-icon icon-white ">
                <i class="material-icons">business</i>
              </div>
              <h3 class="card-title">69$</h3>
              <p class="card-description">This is good if your company size is between 11 and 99 Persons.</p>
            </div>
            <div class="card-footer justify-content-center ">
              <a href="#pablo" class="btn btn-round btn-white">Choose Plan</a>
            </div>
          </div>
        </div> -->

      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="https://www.creative-tim.com">
                Creative Tim
              </a>
            </li>
            <li>
              <a href="https://creative-tim.com/about-us">
                About Us
              </a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com">
                Blog
              </a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license">
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right">
          &copy;
          {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
          <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div>
      </div>
    </footer>
  </div>
</div>
