<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="main-content">
  <div class="container-fluid">


    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">pets</i>
            </div>
            <p class="card-category">입양된 강아지 수</p>
            <h3 class="card-title">184</h3>
          </div>
          
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">attach_money</i>
            </div>
            <p class="card-category">누적기부금액</p>
            <h3 class="card-title">75.521</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons"> </i>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">store</i>
              </div>
              <p class="card-category">Revenue</p>
              <h3 class="card-title">$34,245</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> Last 24 Hours
              </div>
            </div>
          </div>
        </div> -->
      <!-- <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="fa fa-twitter"></i>
              </div>
              <p class="card-category">Followers</p>
              <h3 class="card-title">+245</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> Just Updated
              </div>
            </div>
          </div>
        </div> -->

    </div>


    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">오늘의 할 일 : </span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                      <i class="material-icons">done</i> 업무용
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                      <i class="material-icons">how_to_reg</i>지시사항
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                      <i class="material-icons">info</i>공지사항
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Sign contract for "What are conference organizers afraid of?"</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept
                        through metro Detroit
                      </td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Create 4 Invisible User Experiences you Never Knew About</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="messages">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept
                        through metro Detroit
                      </td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Sign contract for "What are conference organizers afraid of?"</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="settings">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept
                        through metro Detroit
                      </td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Sign contract for "What are conference organizers afraid of?"</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">최근 보호소 입소 동물 목록</h4>
            <p class="card-category">New Friends in shelter, 2019</p>
          </div>
          <div class="card-body table-responsive">
            
            <table class="table table-hover">

              <thead class="text-warning">
                <tr>
                  <th class="info">petSerial</th>

                  <th class="info">name</th>

                  <th class="info">kind</th>

                  <th class="info">age</th>

                  <th class="info">organicDate</th>
                </tr>
              </thead>
              
              <tbody>
                <tr *ngFor="let asset of allAssets" class="animal-list-table-tr" id={asset.petSerial}>

                  <td class="asset-properties">{{asset.petSerial}}</td>

                  <td class="asset-properties">{{asset.name}}</td>

                  <td class="asset-properties">{{asset.kind}}</td>

                  <td class="asset-properties">{{asset.age}}</td>
                  
                  <td class="asset-properties">{{asset.organicDate}}</td>
                </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-rose">
            <h4 class="card-title">보호소 정보</h4>
          </div>
          <div class="card-body table-responsive">
            <div class="tab-content tab-space">
              <form [formGroup]="detailsForm">

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="bmd-label-floating">주중 오픈시간</label>
                      
                      <input type="text" class="form-control" disabled="disabled" value="11:00">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">주중 마감시간</label>
                      <input  type="text" class="form-control" disabled="disabled" value="21:00">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">수의사 수</label>
                      <input type="text" class="form-control" disabled="disabled" value="10명">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">직원 수</label>
                      <input type="text" class="form-control" disabled="disabled" value="20명">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="bmd-label-floating">클리님 룸</label>
                      <input type="text" class="form-control" disabled="disabled" value="30개">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="bmd-label-floating">사육장 수 </label>
                      <input type="text" class="form-control" disabled="disabled" value="40개">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">최대 수용 가능한 수</label>
                      <input type="text" class="form-control" disabled="disabled" value="80마리">
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>



      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">직원 정보</h4>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-success">
                  <tr>
                    <td> 이름 </td>
                    <td> 직책 </td>
                    <td> 담당업무 </td>
                    <!-- <td> 연락처 </td>
                                      <td> 이메일 </td>
                                      <td> 입사일 </td> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let business of businesses">
                    <td>{{ business.person_name }}</td>
                    <td>{{ business.business_name }}</td>
                    <td>{{ business.business_gst_duty }}</td>
                    <!-- <td>{{ business.business_gst_number }}</td>
                                      <td>{{ business.business_gst_email }}</td>
                                      <td>{{ business.business_gst_date }}</td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3>Shelter Photo</h3>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-header card-header-image" data-header-animation="true">
            <a href="#pablo">
              <img class="img" src="./assets/img/dog10.jpg" width="200" height="300">
            </a>
          </div>
          <div class="card-body">
            <div class="card-actions text-center">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons">build</i> Fix Header!
              </button>
              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View"
                [matTooltipPosition]="'below'">
                <i class="material-icons">art_track</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit"
                [matTooltipPosition]="'below'">
                <i class="material-icons">edit</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                [matTooltipPosition]="'below'">
                <i class="material-icons">close</i>
              </button>
            </div>
            <h4 class="card-title">
              <a href="#pablo">Vision</a>
            </h4>
            <div class="card-description">
              동물이 인간의 일방적인 착취와 이용에서 벗어나 존엄한 생명으로서 그들 본연의 삶을 영위하고, 모든 생명이 균형과 조화 속에 공존하는 세상을 지향한다.
            </div>
          </div>
          <!-- <div class="card-footer">
              <div class="price">
                <h4>$899/night</h4>
              </div>
              <div class="stats">
                <p class="card-category"><i class="material-icons">place</i> Barcelona, Spain</p>
              </div>
            </div> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-header card-header-image" data-header-animation="true">
            <a href="#pablo">
              <img class="img" src="./assets/img/tierheim.jpg" width="200" height="300">
            </a>
          </div>
          <div class="card-body">
            <div class="card-actions text-center">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons">build</i> Fix Header!
              </button>
              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View"
                [matTooltipPosition]="'below'">
                <i class="material-icons">art_track</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit"
                [matTooltipPosition]="'below'">
                <i class="material-icons">edit</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                [matTooltipPosition]="'below'">
                <i class="material-icons">close</i>
              </button>
            </div>
            <h4 class="card-title">
              <a href="#pablo">Shelter Photo</a>
            </h4>
            <div class="card-description">
              <p>“사람들 눈에 띄어야 하지만 동물원이기보다 뮤지엄에 가까워야 한다고 봤다.”</p>
              <p>디트리히 반게르트Dietrich Bangert</p>
              <p class="small">티어하임 베를린 설계 담당 건축가</p>
            </div>
          </div>
          <!-- <div class="card-footer">
              <div class="price">
                <h4>$1.119/night</h4>
              </div>
              <div class="stats">
                <p class="card-category"><i class="material-icons">place</i> London, UK</p>
              </div>
            </div> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-header card-header-image" data-header-animation="true">
            <a href="#pablo">
              <img class="img" src="./assets/img/cage.jpg" width="200" height="300">
            </a>
          </div>
          <div class="card-body">
            <div class="card-actions text-center">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons">build</i> Fix Header!
              </button>
              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View"
                [matTooltipPosition]="'below'">
                <i class="material-icons">art_track</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit"
                [matTooltipPosition]="'below'">
                <i class="material-icons">edit</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                [matTooltipPosition]="'below'">
                <i class="material-icons">close</i>
              </button>
            </div>
            <h4 class="card-title">
              <a href="#pablo">Mission</a>
            </h4>
            <div class="card-description">
              시민들과의 지식과 배움의 공유를 통해 동물에 대한 이해와 공감,
              참여를 확대하며 폭넓은 연구와 다양한 실천을 통해 문화와 인식의 긍정적 변화를 이끌고,
              이어 법과 제도의 개선으로 동물복지를 증진한다.
            </div>
          </div>
          <!-- <div class="card-footer">
              <div class="price">
                <h4>$459/night</h4>
              </div>
              <div class="stats">
                <p class="card-category"><i class="material-icons">place</i> Milan, Italy</p>
              </div>
            </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="stats">
      <i class="material-icons text-danger"> </i>
      <a href="#pablo"> </a>
    </div>
  </div>
</div>